{% extends "layout.html" %}

{% block title %} Edit Articles - {{ super() }}{% endblock %}

{% block header %} Edit Articles - {{ super() }}{% endblock %}

{% block body %}
  <div class='row'>
    <div class='col-md-12'>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for msg in messages %}
            <p class='text-danger'>{{ msg }}</p>
          {% endfor %}
        {% endif %}
      {% endwith %}

    </div>
  </row>
   <div class='row'>
    <div class='col-md-12 thumbnail panel panel-primary'>
      {% for item in data %}
        <div class='pull-left'>
          <a href="../a/{{ item.pid }}/">{{ item.title }}</a>
        </div>
        <div class='pull-right'>
          <a class='btn btn-primary' href="{{ item.pid }}/">Edit</a>
          <a class='btn btn-danger' href="del/{{ item.pid }}">Delete</a>
        </div>
        <br>
        <hr>
      {% endfor %}
    </div>
   </div>
{% endblock %}

{% block footer %} {% endblock %}
